$CLR--PRIMARY--100: rgba(255, 255, 255, 0.322);
$CLR--PRIMARY--200: rgb(255, 255, 255);
$CLR--SECONDARY--100: rgba(39, 173, 182, 0.507);
$CLR--SECONDARY--200: rgba(255, 255, 255, 0.623);
$CLR--SECONDARY--300: rgba(255, 255, 255, 0.623);
$CLR--SECONDARY--400: rgba(255, 255, 255, 0.623);
$CLR--SECONDARY--500: rgba(255, 255, 255, 0.623);
