.currency__input {
  &__localInput {
    background-color: $CLR--SECONDARY--100;
    border: none;
    height: 2rem;
    padding: 10px;
    font-size: 1.5rem;
    width: auto;
    border-radius: 15px;

    text-align: left;
    color: $CLR--PRIMARY--200;
  }
}
