.currency__input {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
  &__options {
    margin: 10px 0 10px 0;
    display: flex;
    width: auto;
  }
}

select {
  width: 40%;
}
