body {
  height: 100vh;
  min-height: 100%;
  background-image: url(/img/cool-background.png);
  display: grid;
  place-items: center center;
}

.container {
  background-color: $CLR--PRIMARY--100;
  min-height: 50vh;
  min-width: 300px;
  width: 70vh;
  display: flex;
  flex-direction: column;
  background-color: $CLR--PRIMARY--100;
  color: white;
  padding: 2rem;
  border-radius: 15px;
}

h1 {
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid $CLR--PRIMARY--100;
}
